.main {
  width: 1280px;

  background: #ffffff;
}

.main__content {
  margin: 24px 76px;
}

.content-title {
  width: 179px;
  height: 38px;

  font-size: 24px;
  font-weight: 600;

  margin: 0;
}

.content-poduct {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  margin-top: 12px;
}
