.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;

  position: relative;
  width: 1280px;
  height: 832px;
  overflow-y: scroll;

  background: #ffffff;
}

.main__content {
  height: 640px;
  width: 1128px;
  left: 76px;
  top: 104px;
  border-radius: 0px;
}

.product-list-title {
  height: 38px;
  width: 179px;
  left: 0px;
  top: 0px;
  border-radius: nullpx;
}

.product-list__products {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  width: 1128px;
  height: 264px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
