.productsList {
  width: 1280px;
  overflow-y: scroll;

  background: #ffffff;
}

.productsList__content {
  overflow-y: scroll;

  margin: 24px 76px;
  background: #ffffff;
}

.content__fillter-type {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  width: 554px;
  height: 122px;

  margin-left: 287px;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
}

.content__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
