* {
  box-sizing: border-box;

  border: 1px solid gray;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;

  position: relative;
  width: 1280px;
  height: 832px;
  overflow-y: scroll;

  background: #ffffff;
}

.main__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;

  width: 1128px;
  height: 640px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.product-list-title {
  width: 179px;
  height: 38px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.product-list__products {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  width: 1128px;
  height: 264px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
