.header {
  position: sticky;
  top: 0px;

  width: 1280px;
  height: 80px;

  background: #ffffff;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.header__logo {
  position: absolute;
  left: 5.94%;
  right: 89.77%;
  top: 31.25%;
  bottom: 31.25%;
}

.header_storeName {
  position: absolute;
  left: 11.17%;
  right: 70.86%;
  top: 31.48%;
  bottom: 31.48%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 88.02%;
  /* or 28px */

  display: flex;
  align-items: center;

  color: #000000;
}

.header__menu {
  position: absolute;
  width: 34px;
  height: 24px;
  left: 1170px;
  top: 28px;
}

.modal {
  position: absolute;
  width: 200px;
  height: 150px;
  top: 70px;
  right: 32px;

  background-color: white;
}

.modal-welcome {
  position: absolute;
  width: 180px;
  height: 25px;
  top: 13px;
  left: 10px;

  text-align: center;
}

.modal__productList {
  position: absolute;
  height: 50px;
  width: 200px;
  left: 0px;
  top: 50px;

  border-radius: 0px;
}

.productList-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 15px;
  left: 24px;
}

.productList-text {
  position: absolute;
  width: 140px;
  height: 25px;
  top: 13px;
  left: 52px;
}

.modal__bookmark {
  position: absolute;
  width: 200px;
  height: 50px;
  top: 100px;
}

.bookmark-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 15px;
  left: 24px;
}

.bookmark-text {
  position: absolute;
  width: 140px;
  height: 25px;
  top: 13px;
  left: 52px;
}
