.product {
  height: 264px;
  width: 264px;
}

.product__img {
  position: relative;

  width: 264px;
  height: 210px;
}

.product-img {
  height: 210px;
  width: 264px;
}

.bookmark-img {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 228px;
  top: 174px;
}

.product__info {
  display: flex;
  justify-content: space-between;
  height: 24px;
}

.product-name {
  font-size: 16px;
  font-weight: 800;
}

.product-disconutrate {
  font-size: 16px;
  font-weight: 700;
  color: #452cdd;
}

.product-detail {
  font-size: 16px;
  font-weight: 400;
}

.product-price {
  font-size: 16px;
  font-weight: 400;
}
